<div class="container">
    <div class="row">
        <ul>
            <li><a mat-list-item routerLink="/sofitukker">Sofi Tukker</a></li>
            <li><a mat-list-item routerLink="/theblackkeys">The Black Keys</a></li>
            <li><a mat-list-item routerLink="/jimmyhendrix">Jimmy Hendrix</a></li>
            <li><a mat-list-item routerLink="/gorillaz">Gorillaz</a></li>
            <li><a mat-list-item routerLink="/thewhitestripes">The white Stripes</a></li>
        </ul>
    </div>
</div> 
<!-- <div >
    <a mat-button routerLink="/sofitukker">Sofi Tukker</a>
    <a mat-button routerLink="/theblackkeys">The Black Keys</a>
    <a mat-button routerLink="/jimmyhendrix">Jimmy Hendrix</a>
    <a mat-button routerLink="/gorillaz">Gorillaz</a>
    <a mat-button routerLink="/thewhitestripes">The White Stripes</a>
</div> -->